#home {
background-image: url("../images/assets/backgrounds/h_img.jpg");
height: 100vh;
background-size:cover;
background-position: center;
background-repeat: no-repeat;
color: white;
   
}

.home-content{
    top:25%;
   
}
.home-content img{
    margin: 20px;
} 

.mclick{
    margin-top:50px;
}

#aboutUs{
    text-align:center;
}

@media only screen and (max-width: 768px) {
    

   

}